body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h2   {
     background-color: rgba(246, 249, 249, 0.998);
     color: bisque;
     font-style: normal;
     font-family: 'Times New Roman', Times, serif;
}
.header {
    background-color: #030108;
    color: #f00606;
    padding: 10px;
    text-align: center;
}
.main {
    margin: 15px;
}
.day {
    margin-bottom: 10px;
}
.search-container {
    float: right;
  }
  
  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid grey;
    width: 300px;
    box-sizing: border-box;
  }
  
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #4CAF50;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    opacity: 0.8;
  }